#header{
    padding-top: 3vh;
    min-width: 300px;
    height: auto;
   .logo_wrap {
        height: 17vh;
           @media (max-width: 600px){
                       height: 20vh;
                    }
        .logo {
            float: left;
            width: auto;
            height: 100%;
            img{
                height: 100%;
                width: auto;
            }
        }
    } 
    .phone_block{
       padding: 0;
        height: auto;
                @media (max-width: 600px){
                   margin-left: 0;
                }
        p{
            padding: 0.2vh 0 0.2vh 0;
            color: gainsboro;
            text-align: right;   
        }
    }
    
    
}