body{
    .containers {
        padding: 15px 10px;
    }
    .boldFnt{
        font-weight: bold;
    }
    .blackFnt{
        color: black;
    }
    .whiteFnt{
        color: white;
    }
    .blueFnt{
        color: #0474bc;
    }
    .tDN{
        text-decoration: none;
    }
    .tAC{
        text-align: center;
    }
    .font18{
        font-size: 18px;
    }
    
    
    
}

