@font-face {
        font-family: roboto;
        src: url(../fonts/roboto/Roboto-Regular.ttf);
}
* {
  font-family:inherit;
}
body {
    font-family: roboto;
}
    .containers {
        padding: 15px 10px;
    }
    .boldFnt{
        font-weight: bold;
    }
    .blackFnt{
        color: black;
    }
    .whiteFnt{
        color: white;
    }
    .blueFnt{
        color: #0474bc;
    }
    .greyFnt{
        color: #797979;
    }
    .tDN{
        text-decoration: none;
    }
    .tAC{
        text-align: center;
    }
    .font18{
        font-size: 18px;
    }
    .font16{
        font-size: 16px;
    }
    .greyline {
            border-bottom: 1px solid #797979;
    }
    .lineTxt{
        padding: 0 25px;
    }
    .mAuto{
        margin-left: auto;
        margin-right: auto;
    }
    .borderBT{
        border-top: 1px solid transparent; 
        border-bottom: 1px solid transparent; 
    }


