/////////////////////filter start/////////////////////
#filter {
    .filterHead {
        padding-bottom: 25px;
        @media only screen and (min-width: 640px) {
            padding-bottom: 50px;
        }
    }
    .filterBtns {
        padding-bottom: 20px;
        @media only screen and (min-width: 640px) {
            padding-bottom: 40px;
        }
        .buttons {
            transition: all 0.3s;
            cursor: pointer;
            border: 1px solid #0474bc;
            border-radius: 3px;
            &:hover {
                background-color: #0474bc;
            }
            span {
                transition: all 0.3s;
                display: block;
                padding: 8px 15px;
                color: #0474bc;
            }
            &:hover span {
                color: #fff;
            }
            &:last-child {
                margin-left: 20px;
            }
        }
        .activeBtn {
            background-color: #0474bc;
            span {
                color: #fff;
            }
        }


    }
    .imgBl {
        .imgCont {
            display: none;
            margin-bottom: 10px;
        }
        .visible {
            display: block;
        }
    }
}
/////////////////////filter end/////////////////////