.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook-logo-button {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-instagram-logo {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
